.textContainer {
  text-align: left;
  padding-bottom: 5rem;
}
.title {
  font-size: 75px;
  margin: 15px;
  margin-left: 0;
}
.subTitle {
  font-size: 35px;
  margin-left: 0;
}
.resalt {
  color: #3e8ed0;
}
.boton {
  all: unset;
  padding: 7px;
  border: 1px solid #ffffff;
  border-radius: 20px;
}
.boton:hover {
  border: 1px solid #3e8ed0;
  color: #3e8ed0;
}
.boton:active {
  box-shadow: 0px 0px 28px -1px rgba(62, 142, 208, 0.75);
  -webkit-box-shadow: 0px 0px 28px -1px rgba(62, 142, 208, 0.75);
  -moz-box-shadow: 0px 0px 28px -1px rgba(62, 142, 208, 0.75);
}
