.container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color: rgba(30, 29, 27, 0.4);
}
.logo {
  width: 150px;
  margin-left: 50px;
}
.list {
  width: 40%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}
.listItem {
  text-decoration:none;
  font-size: 17px;
  color: #3e8ed0;
}
.listItem:hover{
    color: #B5C8D3;
}
@media screen and (min-width: 350px) and (max-width: 580px) {
  .container {
    display: none;
  }
}